<div class="row g-3 align-items-center mb-3 w-25">
    <div class="col-auto">
        <label for="culture" class="col-form-label">Current Culture: </label>
    </div>
    <div class="col-auto">
        <InputSelect id="culture" class="form-select" @bind-Value="Culture">
            <_Iterator Items="SupportedCultures" Context="culture">
				<option value="@culture.Key">@culture.Description</option>"
            </_Iterator>
        </InputSelect>

    </div>
	<div class="col-auto">
        <span>@Thread.CurrentThread.CurrentCulture</span>
    </div>
</div>

@inject NavigationManager NavManager
@code
{
    private CultureInfo Culture
    {
        get
        {
            return CultureInfo.CurrentCulture;
        }
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var uri = new Uri(NavManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                NavManager.NavigateTo($"/Culture?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad: true);
            }
        }
    }

    protected override void OnInitialized()
    {
        Culture = CultureInfo.CurrentCulture;
    }
}