<PageTitle>Component Referencing</PageTitle>

<_PageRenderModeSection />

<_InfoBox HeaderText="Component Referencing">
	<Body>
		<p>
			This example demonstrates how to reference a child component from a parent component in Blazor.
			With <code>@@ref</code>, you can get a reference to a child component and call its methods directly.
			This can be useful for scenarios where you need to control the child component's behavior from the parent.
		</p>
	</Body>
</_InfoBox>

<Button
	Type="ButtonType.Button"
	Color="ButtonColor.Primary"
	Outline="true"
	Class="mb-3 shadow-none"
	@onclick="ToggleContacts">
	Show / Hide Contacts
</Button>

<_ComponentRefChild @ref="_child" ContactsVisible="IsContactsVisible" />

@page "/learnBlazor/componentRef"
@rendermode InteractiveServer
@code {
	private _ComponentRefChild? _child;

	[PersistentState]
	public bool IsContactsVisible { get; set; }

	private void ToggleContacts()
	{
		IsContactsVisible = !IsContactsVisible;

		if (IsContactsVisible)
			_child?.ShowContacts();
		else
			_child?.HideContacts();
	}
}